$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
  }
}

@mixin sm {
  @media (max-width: map-get($breakpoints, "sm")) {
    .content__container__aside--left {
      display: none;
    }

    .content__container__aside--right {
      display: none;
    }

    .content__container__center-center-base-4 {
      display: none;
    }

    .content__container__center-center-base-5 {
      display: none;
    }

    .content__container__center-center-base-6 {
      display: none;
    }
    .content__container__center-center-base-7 {
      display: none;
    }
    .content__container__center-center-base-8 {
      display: none;
    }

    .content__container {
      max-width: 400px;
    }

    .content__container__center-top {
      width: 304px;
    }

    .content__container__center-top img {
      width: 304px;
      height: 127px;
      object-fit: cover;
    }

    .content__container__center-center {
      width: 304px;
    }

    .content__container__center-footer {
      width: 304px;
    }

    .content__container__center-center-team-score {
      width: unset;
    }

    .content__container__center-center-team-score-first-2-teams p {
      width: 92px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 6px 0 0 0;
      line-height: 11px;
    }

    .content__container__center-center-base-9 {
      margin-left: 5px;
    }

    .content__container__center-center-team-score-minutes p {
      width: 105px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
  }
}

@mixin md {
  @media (max-width: map-get($breakpoints, "md")) {
  }
}

@mixin lg {
  @media (max-width: map-get($breakpoints, "lg")) {
  }
}

@mixin xl {
  @media (max-width: map-get($breakpoints, "xl")) {
  }
}
