//theme colors

$primary-background: #122a45;
$secondary-background: #1a3655;
$tertiary-background: #e7b900;
$quaternary-background: #000;
$quinary-background: #346090;

//fonts colors
$primary-font-color: #95b9df;
$secondary-font-color: #68829c;
$tertiary-font-color: #7794b2;
$quaternary-font-color: #00d323;
$quinary-font-color: #202b3c;
