//font styles

$primary-font: normal;

//font size

$primary-font-size: 14px;
$secondary-font-size: 12px;
$tertiary-font-size: 10px;

//font family

$primary-font-family: Oswald;
$secondary-font-family: Roboto;

//font opacity

$primary-opacity: 0.6;
$secondary-opacity: 0.1;

//font weight

$primary-font-weight: 400;

//

$page-height: 100vh;
