@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap");
.primary-button {
  cursor: pointer;
  text-align: center;
  font-family: Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 6px;
  padding: 18px 0;
  border: none;
}

.secondary-button {
  cursor: pointer;
  text-align: center;
  font-family: Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 6px;
  padding: 15px 0;
  border: none;
}

.transparent-button {
  cursor: pointer;
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  border: none;
}

.third-button {
  cursor: pointer;
  text-align: center;
  border: none;
  background: #346090;
  width: 60px;
  height: 48px;
}

/*

$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin breakpoint($bp: 310) {
  @media (min-width: $bp) {
    @content;
  }
}

*/
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #122a45;
  height: 100vh;
  width: 100%;
}
@media (max-width: 480px) {
  .content .content__container__aside--left {
    display: none;
  }
  .content .content__container__aside--right {
    display: none;
  }
  .content .content__container__center-center-base-4 {
    display: none;
  }
  .content .content__container__center-center-base-5 {
    display: none;
  }
  .content .content__container__center-center-base-6 {
    display: none;
  }
  .content .content__container__center-center-base-7 {
    display: none;
  }
  .content .content__container__center-center-base-8 {
    display: none;
  }
}
.content .content__container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-top: 80px;
}
.content .content__container__aside--left {
  background-color: #1a3655;
  margin-right: 10px;
  width: 240px;
  height: 525px;
  flex-shrink: 0;
}
.content .content__container__aside--right {
  background-color: #1a3655;
  margin-left: 10px;
  width: 240px;
  height: 525px;
  flex-shrink: 0;
}
.content .content__container__center-top {
  width: 700px;
  height: 127px;
  flex-shrink: 0;
}
.content .content__container__center-center {
  width: 700px;
  height: 58px;
  flex-shrink: 0;
  background-color: #1a3655;
  display: flex;
  align-items: center;
  margin: 10px 0 2px 0;
}
.content .content__container__center-center-team-score {
  margin: 6px 5px 5px 5px;
  width: 220px;
  height: 47px;
  flex-shrink: 0;
}
.content .content__container__center-center-team-score-first-2 {
  display: flex;
  justify-content: space-between;
}
.content .content__container__center-center-team-score-first-2-teams p {
  color: #95b9df;
  font-family: Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 9px;
  margin: 6px 0 0 5px;
}
.content .content__container__center-center-team-score-first-2-score p {
  color: #00d323;
  font-family: Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 9px;
  margin: 6px 0;
}
.content .content__container__center-center-team-score-minutes p {
  color: #68829c;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  margin: 0 0 5px 5px;
}
.content .content__container__center-center-base-1 .primary-button {
  position: relative;
  height: 48px;
  width: 50px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);
  background: #346090;
  color: #95b9df;
  margin-right: 2px;
}
.content .content__container__center-center-base-1 svg {
  position: absolute;
  top: 2px;
  right: 2px;
}
.content .content__container__center-center-base-2 .primary-button {
  height: 48px;
  width: 50px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);
  background: #346090;
  color: #95b9df;
  margin-right: 2px;
}
.content .content__container__center-center-base-3 .secondary-button {
  position: relative;
  height: 48px;
  width: 50px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);
  background: #e7b900;
  color: #202b3c;
}
.content .content__container__center-center-base-3 svg {
  position: absolute;
  top: 2px;
  right: 2px;
}
.content .content__container__center-center-base-4 .primary-button {
  position: relative;
  height: 48px;
  width: 55px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);
  color: #95b9df;
  background: #346090;
  margin-left: 10px;
}
.content .content__container__center-center-base-4 svg {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.content .content__container__center-center-base-5 .transparent-button {
  color: #7794b2;
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  background: none;
  width: 30px;
  height: 7px;
}
.content .content__container__center-center-base-6 .primary-button {
  height: 48px;
  width: 55px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);
  color: #95b9df;
  background: #346090;
  margin-right: 10px;
}
.content .content__container__center-center-base-7 {
  width: 60px;
  height: 48px;
  flex-shrink: 0;
  background: #346090;
  margin-right: 2px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);
}
.content .content__container__center-center-base-7 .third-button {
  margin-right: 2px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);
}
.content .content__container__center-center-base-7 p:first-child {
  color: #95b9df;
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  margin: 12px 0 5px 0;
  opacity: 0.6;
}
.content .content__container__center-center-base-7 p:last-child {
  color: #95b9df;
  text-align: center;
  font-family: Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 6px;
  margin: 0 0 14px 0;
}
.content .content__container__center-center-base-8 .third-button {
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);
}
.content .content__container__center-center-base-8 p:first-child {
  color: #95b9df;
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  margin: 12px 0 5px 0;
  opacity: 0.6;
}
.content .content__container__center-center-base-8 p:last-child {
  color: #95b9df;
  text-align: center;
  font-family: Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 6px;
  margin: 0 0 14px 0;
}
.content .content__container__center-center-base-9 {
  width: 30px;
  height: 58px;
  flex-shrink: 0;
  margin-left: 4px;
}
.content .content__container__center-footer {
  width: 700px;
  height: 328px;
  left: 1000px;
  flex-shrink: 0;
  background: #1a3655;
}

/*

$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin breakpoint($bp: 310) {
  @media (min-width: $bp) {
    @content;
  }
}

*/
/* INFO ABOUT SCSS

STYLES.SCSS

IMPORTS

@use "sass:math" as math;
@import "variables";
@import "colors";
@import "base";
@import "./components/components";
@import "utilities";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap");

THE STYLES SHOULD CONTAIN: 

1. VARIABLES - 
2. COLORS - THE COLORS THAT WE USE
3. BASE - ALL THE CODE EXCEPT: COLORS, VARIABLES, UTILITIES
4. UTILITIES: FONT-STYLES, FONT-SIZE, FONT-FAMILY, FONT-OPACITY, FONT-WEIGHT, PAGE-HEIGHT
5. MEDIA QUERIES
6. ANIMATION OR TRANSITIONS
7. MIXINS


WHAT THE SCSS SHOULD CONTAIN
1. Base & layout - base
2. Colors - colors
3. Components (buttons, card, navbar)
4. Utilities (margin, padding, opacity)


* FONT SIZE

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.25;
$font-size-xl: $base-font-size * 1.5;

* DIVIDE SOMETING 

@use "sass:math" as math; 

 math.div($variable, 4);

 * SEE SOMETHING

 @debug "hello ninjas"

 * CALCULATE SOMETHING

 @debug math.div(5, 2);
 @bebug math.floor(2.6); - rotunjeste la 2
 @debug math.max(1px, 20px, 15px, 12px); - cauta cea mai mare valoare

 * MAPS

 $colors: (
  blue: blue;
  red: red;
  green: green;
  gray: gray;
 )

 @debug map-get($ , "color")
 @debug map-has-key($ , "color")
 @debug map-remove($colors, "primary")
 @debug map-merge($colors, " ("pink: "#ffc0cb"))

 LOOPS

 @each $key, $val in $colors {

 }

 *//*# sourceMappingURL=styles.css.map */